#preload-s
// encabezado(img root, page main title, page secondary title, bootstrap class)
= encabezado('img-servicios-page.jpg', I18n.t('services.title'), 'false', 'span10 offset1')

.row-fluid
  .span4.servicio-item
    %h2.title.region-title.img-toggle 
      = image_tag 'ico-s-1-off.png', class: 'not-full img-on'
      = image_tag 'ico-s-1-on.png', class: 'not-full img-off'
      %br
      diseño web Y CMS
    %p
      Un gran diseño está hecho de pequeños detalles, la perfección visual hace que un producto 
      sea más valioso, por lo tanto más rentable.
    %p
      Hacemos sitios webs enfocándonos en balancear el diseño para lograr atraer a los usuarios, 
      diseñando una página web amigable, que además de verse muy bien, sirva para un propósito.
    %p
      Generalmente, un gestor de contenidos es complicado, engorroso, difícil de usar o es necesario llevar una 
      capacitación para entenderlo. En Kosmyka queremos hacerte la vida fácil, por eso, te brindamos un editor de 
      contenidos a través de tu misma página web, logéate y empieza a editar sin tener que “aprender” nada, 
      tan simple como postear algo en el facebook.
  
  .span4.servicio-item
    %h2.title.region-title.img-toggle 
      = image_tag 'ico-s-2-off.png', class: 'not-full img-on'
      = image_tag 'ico-s-2-on.png', class: 'not-full img-off'
      %br
      programación
    %p
      Cuando el diseño está listo, es momento de poner todas las piezas juntas, 
      creando la interactividad y funcionalidad que tu página web necesita.
    %p
      Si diseñas y no sabes cómo darle vida a esa mágnifica creación que acabas de hacer, 
      contáctanos, nosotros nos encargaremos de la parte complicada, usando las últimas tendencias en 
      programación, pondremos a funcionar tu proyecto, así tu cliente estará muy feliz y tú también.
    %p
      ¿Tienes un proyecto a medio hacer durante meses y no logras lanzarlo por problemas con la programación? ¡Somos tu solución!
  
  .span4.servicio-item
    %h2.title.region-title.img-toggle 
      = image_tag 'ico-s-3-off.png', class: 'not-full img-on'
      = image_tag 'ico-s-3-on.png', class: 'not-full img-off'
      %br
      aplicaciones web
    %p
      ¿Tienes la idea de un gran negocio por internet? No dejes pasar más tiempo, y empezemos a trabajar 
      juntos. Cuéntanos tu idea, y hagamos realidad tus sueños juntos. Te brindaremos todo el soporte tecnológico 
      que necesitas para que empieces a generar ganancias desde ya vía internet.
    %p
      Si sigues usando un software contable o de almacén desde hace años, complicando tu vida y 
      quitándote el sueño por las noches. ya es hora de que nos contrates y simplifiquemos todo ese 
      proceso en una aplicación en línea. simple y fácil de usar, donde podrás acceder desde cualquier 
      lugar, trabajar en el momento que quieras y dormir por las noches.
 
.row-fluid 
  .span4.servicio-item
    %h2.title.region-title.img-toggle 
      = image_tag 'ico-s-4-off.png', class: 'not-full img-on'
      = image_tag 'ico-s-4-on.png', class: 'not-full img-off'
      %br
      diseño gráfico
    %blockquote
      El diseño debe seducir, educar y, quizás lo más importante, provocar una respuesta emocional.
      .autor
        = '- April Greiman'
    %p
      Los clientes valoran un look profesional, esto les da confianza desde el primer momento.
    %p
      Diseñamos la línea completa de material de impresión que tu negocio necesita: papel membretado, 
      tarjetas de presentación, cds, folders, brochures, etc.
  
  .span4.servicio-item
    %h2.title.region-title.img-toggle 
      = image_tag 'ico-s-5-off.png', class: 'not-full img-on'
      = image_tag 'ico-s-5-on.png', class: 'not-full img-off'
      %br
      community manager
    %p
      Estoy en el facebook luego existo. El servicio de Community Manager se trata del proceso de hacer crecer, 
      construir y guiar una comunidad online.
    %p
      ¿De qué le sirve esto a tu empresa?
    %p
      = '- Aumenta la confianza en tu producto o servicio y en tu marca.'
      = '- Te brinda un focus group a tiempo completo, todos los días del año.'
      = '- Genera una relación más fuerte con tus clientes.'
  
  .span4.servicio-item
    %h2.title.region-title.img-toggle 
      = image_tag 'ico-s-6-off.png', class: 'not-full img-on'
      -#= image_tag 'ico-s-6-on.png', class: 'not-full img-off'
      %br
      Contenidos
    %p
      El primer motivo por el cual una web queda lista y no es lanzada, es la falta de contenidos. 
  
    %p 
      Generalmente, redactar textos, tomar fotos profesionales o seleccionarlas para comprarlas, 
      todo esto se convierte en un dolor de cabeza, por eso nosotros te ayudamos con esa difícil tarea.
  
    %p 
      Basta con explícarnos a grandes rasgos qué quieres decir, desarrollamos los contenidos que necesitas y lanzamos tu web a tiempo.
  
    

= closing_tags
