- content_for :javascript do
  = javascript_include_tag 'masonry.pkgd.min.js', 'masonry-init.js'
#preload
#content-top.container-fluid
  .row-fluid
    #parallaxContainer.span12
      = image_tag 'img-home.jpg'


    #content-middle.container-fluid.masonry-div.region
      .row-fluid
        .span12
          %p.presentacion
            DISEÑAMOS Y PROGRAMAMOS PÁGINAS
            %br
            Y APLICACIONES WEB DINÁMICAS

      .row-fluid
        .span12
          %p.conoce
            CONOCE LOS ÚLTIMOS TRABAJOS QUE HEMOS HECHO
      .row-fluid
        #masonry-wrapper.span12
          #masonry-container
            - @projects.each do |project|
              .item
                .item-inner
                  = link_to (image_tag project.image_url(:thumb)), project
                  %p
                    = link_to content_tag(:span, project.name), project


#content-bottom
  .que-podemos-hacer
    %p.text-title
      ¿QUÉ PODEMOS HACER POR TU NEGOCIO?
  .container-fluid.region.simple
    .row-fluid
      #myCarousel.carousel.slide.span10
        %ol.carousel-indicators
          %li{:"data-target" => "#myCarousel", :"data-slide-to" => "0", :class => "active"}
          %li{:"data-target" => "#myCarousel", :"data-slide-to" => "1"}
          %li{:"data-target" => "#myCarousel", :"data-slide-to" => "2"}

        <!-- Carousel items -->
        .carousel-inner
          .item.active
            .span5
              %h2.title
                CMS HECHO SIMPLE
              %p
                ¿Cómo lograr que tus clientes potenciales visiten tu web frecuentemente? Simple, dándoles contenido nuevo y fresco. Para que esta tarea sea sencilla te brindamos un panel de control muy simple que te permite administrar todos los contenidos de tu página, tan fácil de usar como el mismo facebook.

              %p
                En KOSMYKA, podemos administrar los contenidos por ti o si lo deseas, te damos todas las herramientas necesarias para que alguien de tu equipo lo haga.

              %p
                Hoy en día, el marketing esta básado principalmente en medios de comunicación modernos, como Facebook y Twitter. Brindar contenidos nuevos con la facilidad de las redes sociales e integrar estos medios con tu página web, es escencial para incrementar tu cartera de clientes.
            .span5.offset2
              = image_tag 'img-slider-rio-cms.png'
          .item
            .span5
              %h2.title
                DISEÑO RESPONSIVE
              %p
                ¿Tu web solo se puede ver en una computadora? Entonces, estás perdiendo clientes. Nosotros tenemos la solución que necesitas: Páginas web “responsive”.

              %p
                ¿Qué significa “responsive”?  En el mundo web, “responsive” quiere decir que tendrás una web, que se adaptará al tamaño de un smartphone o un tablet. Así, será muy fácil navegar por tu web desde cualquier dispositivo móvil.

              %p
                El número de personas que entran a internet por su celular o tablet crece cada día más. Gracias a esto, captarás a un número de potenciales clientes que aumenta cada minuto, poniendo a tu marca en la vista de todo mundo.
            .span5.offset2
              = image_tag 'img-slider-chaxras-responsive.png'
          .item
            .span5
              %h2.title
                DISEÑO GRÁFICO
              %p
                “Todo entra por los ojos” es por eso, que con la creatividad que nos caracteriza, diseñamos una nueva imagen para tu negocio, mejoramos o renovamos tu logo, diseñamos una página web moderna, funcional, que atraerá nuevos clientes y tus ventas empezarán a subir.

              %p
                Te haremos tarjetas de presentación que impresionarán a tus nuevos clientes; papel membretado, sobres, stickers, cds, etc. Todo bajo una misma línea, vendiendo no solamente un servicio o producto, sino, una marca.

            .span5.offset2
              = image_tag 'img-slider-zamzar-brochure.png'


        <!-- Carousel nav -->
        = link_to raw('&lt;'), '#myCarousel', :"data-slide" => 'prev', :class => 'carousel-control left'
        = link_to raw('&gt;'), '#myCarousel', :"data-slide" => 'next', :class => 'carousel-control right'




#complement-top.container-fluid.region
  .row-fluid
    .span12
      = render 'shared/likebox'

#complement-middle.container-fluid.region.form-region
  .row-fluid
    .span12
      %h2.title
        ¿Tienes alguna duda? Pregúntanos

  .row-fluid
    = render 'contacts/form'

