= form_for @contact, :html => { :class => 'form-horizontal' } do |f|
  .span4.offset2
    .field
      = f.label :name, class: 'span3'
      = f.text_field :name, class: 'span9'
    .field
      = f.label :email, class: 'span3'
      = f.text_field :email, class: 'span9'
    .field
      = f.label :phone, class: 'span3'
      = f.text_field :phone, class: 'span9'
  .span4
    .field
      = f.label :message, class: 'span3'
      = f.text_area :message, class: 'span9'
    .actions
      = f.submit nil




-#
  = form_for @contact, :html => { :class => 'form-horizontal' } do |f|
    .control-group
      = f.label :name, :class => 'control-label'
      .controls
        = f.text_field :name, :class => 'text_field'
    .control-group
      = f.label :email, :class => 'control-label'
      .controls
        = f.text_field :email, :class => 'text_field'
    .control-group
      = f.label :phone, :class => 'control-label'
      .controls
        = f.text_field :phone, :class => 'text_field'
    .control-group
      = f.label :message, :class => 'control-label'
      .controls
        = f.text_area :message, :class => 'text_area'
    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), contacts_path, :class => 'btn'
