- model_class = Contact
= encabezado('img-contacto.jpg', I18n.t('contact.title'), I18n.t('contact.heading'), 'span10 offset1')

.row.contact-info
  .span10
  .span5
    = image_tag 'icon-info.png', class: 'not-full'
    INFO@KOSMYKA.COM
  .span5.offset1
    = image_tag 'icon-face.png', class: 'not-full'
    = '/KOSMYKAweb'
  .span5
    = image_tag 'icon-mobile.png', class: 'not-full'
    951754033
  .span5.offset1
    = image_tag 'icon-twitter.png', class: 'not-full'
    @KOSMYKA

= closing_tags

#content-bottom.container-fluid
  .region.form-region
    .row-fluid
      .span12
        %h2.title
          = I18n.t('contact.legend')
      .row-fluid
        = render :partial => "form"






-#
  .page-header
    %h1=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human
