- content_for :scripts do
  = render 'scripts/isotope'
  = # render 'scripts/isotope_init'


#projectafolio

  %nav#portafolio-botones
    %ul{:"data-option-key" => 'filter'}
      %li
        = link_to 'Web', '#filter', :"data-filter" => '.web', :class => 'iso-web'
      %li
        = link_to 'Impresión', '#filter', :"data-filter" => '.impresión', :class => 'iso-imp'
      %li
        = link_to 'Todos', '#filter', :class => 'active', :"data-filter" => '*', :class => 'iso-tod'

  %ul#portafolio-listado
    %li{:class => 'web'}
      = image_tag 'img-port.jpg'
      %h3.title
        Test
      %p Diseño Web
    %li{:class => ' diseñoyweb'}
      = image_tag 'img-port.jpg'
      %h3.title
        Test
      %p Diseño Web

    %li{:class => 'realización'}
      = image_tag 'img-port.jpg'
      %h3.title
        Test
      %p Diseño Web

    %li{:class => ' diseñoyweb'}
      = image_tag 'img-port.jpg'
      %h3.title
        Test
      %p Diseño Web


