- content_for :scripts do
  = render 'scripts/isotope'

#portafolio

  %nav#portafolio-botones
    %ul{:"data-option-key" => 'filter'}
      %li
        = link_to 'Web', '#filter', :"data-filter" => '.web', :class => 'iso-web'
      %li
        = link_to 'Impresión', '#filter', :"data-filter" => '.imp', :class => 'iso-imp'
      %li
        = link_to 'Todos', '#filter', :class => 'active', :"data-filter" => '*', :class => 'iso-tod'

  %ul#portafolio-listado
    - @projects.each do |project|
      %li{:class => project.kind}
        = link_to (image_tag project.image_url(:thumb)), project
        %h3.title
          = link_to truncate(project.name, :length => 26), project
        %p= project.areas
