- model_class = Project
// encabezado(img root, page main title, page secondary title, bootstrap class)
= encabezado('img-projects-page.jpg', I18n.t('projects.title'), 'false', 'span12')


.row-fluid
  #portafolio-wrapper.span12
    = render 'list'

-#
  .page-header
    %h1=t '.title', :default => model_class.model_name.human.pluralize
  %table.table.table-striped
    %thead
      %tr
        %th= model_class.human_attribute_name(:id)
        %th= model_class.human_attribute_name(:name)
        %th= model_class.human_attribute_name(:client)
        %th= model_class.human_attribute_name(:launched)
        %th= model_class.human_attribute_name(:areas)
        %th= model_class.human_attribute_name(:tecnologies)
        %th= model_class.human_attribute_name(:description)
        %th= model_class.human_attribute_name(:url)
        %th= model_class.human_attribute_name(:kind)
        %th= model_class.human_attribute_name(:created_at)
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @projects.each do |project|
        %tr
          %td= link_to project.id, project_path(project)
          %td= project.name
          %td= project.client
          %td= project.launched
          %td= project.areas
          %td= project.tecnologies
          %td= project.description
          %td= project.url
          %td= project.kind
          %td=l project.created_at
          %td
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_project_path(project), :class => 'btn btn-mini'
            = link_to t('.destroy', :default => t("helpers.links.destroy")), project_path(project), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

  = link_to t('.new', :default => t("helpers.links.new")), new_project_path, :class => 'btn btn-primary'
