#preload-v
#content-top.container-fluid
  .row-fluid
    #parallaxContainer.span12
      = image_tag 'img-servicios.jpg'
#content-middle
  %h1.page-title
    = I18n.t('services.index')
  .container.region.simple
    .row
      .span12.main-section-page
        %h2.title.region-title
          = image_tag 'img-rocket.png', class: 'not-full'
          %br
          Kosmyka Soluciones Informáticas E.I.R.L.
        %p
          Kosmyka es una pequeña empresa, localizada en Lima, fundada en el 2012, que nace de la necesidad de llenar un nicho en el mercado de los servicios en línea, brindando productos simples, fáciles de usar, enfocándonos en una estética moderna.

        %p
          Le damos un valor agregado a la sociedad a través de los servicios que damos. Nuestra misión es hacer del manejo de la marca en internet de cada uno de nuestros clientes una tarea fácil, haciendo del día a día de ellos más feliz.

        %p
          “Todo es simple hasta que uno lo hace complicado”

          %br
          Utilizamos tecnologías de punta para realizar y entregar proyectos ambiciosos a los usuarios. Transformamos sistemas complicados en interfaces muy sencillas, cambiamos el look & feel de tu producto o servicio por una experiencia de usuario eficiente que atrae y genera usuarios recurrentes.
        %p
          Nuestra meta es una variable que cambia todo el tiempo, crecer en conocimientos, estar al día con las tecnologías que nos permitan ser más felices trabajando en tus proyectos, resolviendo tus problemas de manera más eficiente y rápida.
        %p
          En el auge económico en el que se encuentra el Perú, es nuestra visión, consolidarnos como una empresa líder en desarrollo web, respaldando a nuestros clientes con la confianza de un portafolio lleno de casos de éxito.
      = render 'sidebar_first'
      = render 'sidebar_second'



